@model IEnumerable<WebApplicationSistemaDeReclamos.Models.ViewModels.ReclamoViewModel>

@{
    ViewData["Title"] = "Listado de reclamos";
}

<h1>Listado de reclamos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form action="/Reclamos/Buscar" method="post" class="row row-cols-lg-auto align-items-center">
  <div class="col-6">
        <input type="text" value="@ViewBag.textoBucar" name="textoBucar" class="form-control" placeholder="Buscador reclamos">
  </div>

  <div class="col-6">
    <button type="submit" class="btn btn-primary">Buscar</button>
  </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Titulo
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, 
                        new { @class="btn btn-danger", onclick="borrarReclamo(this); return false;" })
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    //OJO ESTO ES 100% JAVASCRIPT!!!!!!!! OJO!!!!!
    function borrarReclamo(linkActual) {
        bootbox.confirm('Borramos el reclamo?', function(resultado) {
            if(resultado == true) {
                window.location = linkActual.href;
            }
        });
    }
</script>